* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.header {
    background-color: #F4F4F4;
    padding: 20px;
    text-align: center;
}

.header__logo img {
    width: 150px;
}

/* .product-section {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    height: 500px;
    overflow: hidden;
}

.product-section__image {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    object-fit: cover;
}

.product-section__content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    color: #fff;
    padding: 20px;
    max-width: 400px;
}

.product-section__title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-section__description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.product-section__button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.product-section__button:hover {
    background-color: #218838;
} */

.video-section {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-section h2 {
    font-size: 2rem;
    width: 350px;
    text-transform: uppercase;
    font-weight: bolder;
}

.video-container {
    position: relative; /* Position relative for absolute positioning of the button */
}

.video-section__video {
    width: 400px;
    height: 500px;
    border: 2px solid #333;
    display: block;
}

.play-button {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    animation: pulse 1s infinite; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-button:hover {
    background-color: #444;
    text-align: center;
}

.img-play {
    color: #fff;
    width: 20px;
}
@keyframes pulse {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1); 
    }
}

.product-section2 {
    width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    max-width: 100%;
}

.product-section__image2 {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

.footer {
    background-color: #F4F4F4;
    padding: 20px;
    text-align: center;
    color: #000;
}

.footer__copyright {
    font-size: 1rem;
}

@media (max-width: 450px) {

    .play-button {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        animation: pulse 1s infinite; 
    }
    
    .video-section h2 {
        font-size: 1.5rem;
        width: 300px;
        text-transform: uppercase;
        font-weight: bolder;
    }

    .video-section {
        padding: 20px;
        background-color: #fff;
        margin: 20px auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .video-section__video {
        width: 300px;
        height: 500px;
        border: 2px solid #333;
    }

    .play-button {
        font-size: 1rem; 
    }
}
    